[profile.default]
src = 'src'
out = 'out'
libs = ['node_modules', 'lib']
test = 'test'
cache_path  = 'forge-cache'
ffi = true

# See more config options https://book.getfoundry.sh/reference/config.html
